<nav class="pagination clearfix">
	<span class="page-number">Página {{page}} de {{pages}}</span>
	<div class="pagination-links">
	{{#if prev}}
		<a class="newer-posts" href="{{page_url prev}}">&larr; Novas</a>
	{{/if}}
	{{#if next}}
		<a class="older-posts {{#if prev}}bordered{{/if}}" href="{{page_url next}}">Antigas &rarr;</a>
	{{/if}}
	</div>
</nav>